Repository x7ddf74479jn5/configs, changes with the labels that .github/labeler.yml gives for each.
All labels: Type: Release, Package: ESLint, Package: Prettier, Package: TextLint, Package: Renovate, Package: Stylelint

.github/labeler.yml:

'Type: Release':
  - .changeset/**/*
'Package: ESLint':
  - packages/eslint/**/*
'Package: Prettier':
  - packages/Prettier/**/*
'Package: TextLint':
  - packages/textlint/**/*
'Package: Renovate':
  - packages/renovate/**/*
'Package: Stylelint':
  - packages/stylelint/**/*

👷 ci: fix check workflow
  .github/workflows/check.yaml
Labels: none

Feature/prettier (#11)
  .changeset/famous-windows-call.md
  package.json
  packages/eslint/package.json
  packages/markuplint/package.json
  packages/prettier/.gitignore
  packages/prettier/package.json
  packages/prettier/src/index.ts
  packages/prettier/test/.prettierrc.js
  packages/prettier/test/.prettierrc.mjs
  packages/prettier/test/case/index.ts
  packages/prettier/test/case/mkardown.md
  packages/prettier/test/package.json
  packages/prettier/tsconfig.build.json
  packages/prettier/tsconfig.json
  packages/textlint/package.json
  pnpm-lock.yaml
  tsconfig.build.json
Labels: Type: Release, Package: ESLint, Package: TextLint

✨ feat: add type-imports organization rules
  .changeset/late-games-repair.md
  packages/eslint/src/+typescript.js
Labels: Type: Release, Package: ESLint

💚 ci: use pnpm action
  .github/actions/setup-node-and-restore-packages/action.yaml
  .github/workflows/check.yaml
  .github/workflows/release.yaml
Labels: none

💚 ci: fix release trigger
  .github/workflows/release.yaml
Labels: none

✨ feat: (renovate) update configs
  .changeset/new-planets-flash.md
  packages/renovate/default.json5
  packages/renovate/package.json
  pnpm-lock.yaml
Labels: Type: Release, Package: Renovate
